<%= form_with(model: show, local: true) do |form| %>
  <% if show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :number_of_episodes %>
    <%= form.text_field :number_of_episodes %>
  </div>

  <div class="field">
    <%= form.label :publishing_service %>
    <%= form.text_field :publishing_service %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :frequency %>
    <%= form.text_field :frequency %>
  </div>

  <div class="field">
    <%= form.label :listeners_last_30_days %>
    <%= form.text_field :listeners_last_30_days %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :monthly_expenses %>
    <%= form.text_field :monthly_expenses %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
